! foreground/background
URxvt.foreground: #E6E6E6
URxvt.background: #000000
! black
URxvt.color0:     #000000
URxvt.color8:     #1A1A1A
! red
URxvt.color1:     #C76366
URxvt.color9:     #E07073
! green
URxvt.color2:     #71994C
URxvt.color10:    #84B259
! yellow
URxvt.color3:     #C7C063
URxvt.color11:    #E0D970
! blue
URxvt.color4:     #6A6AD4
URxvt.color12:    #7777ED
! magenta
URxvt.color5:     #BF609C
URxvt.color13:    #DB6EB3
! cyan
URxvt.color6:     #4B948B
URxvt.color14:    #59B0A5
! white
URxvt.color7:     #E6E6E6
URxvt.color15:    #FFFFFF
